body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    outline: 1px solid black;
    float: left;
    padding: 0;
    height: 100%;
  }

  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .hitSquare {
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 48%, black 48%,  black 54%,transparent 54%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 48%, black 48%,  black 54%,transparent 54%, transparent 100%);
    outline: 1px solid black;
    float: left;
    padding: 0;
    height: 100%;
  }

  .sunkSquare {
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 48%, red 48%,  red 54%,transparent 54%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 48%, red 48%,  red 54%,transparent 54%, transparent 100%);
    outline: 1px solid black;
    float: left;
    padding: 0;
    height: 100%;
  }

  .dot {
    height: 30%;
    width: 30%;
    background-color: #bbb;
    border-radius: 50%;
    margin-bottom: 10%;
    position: relative;
    display: inline-block;
  }